---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";
---

<Layout title="Delta V">
  <div>
    <Hero
      title="Delta V"
      description="Calculate the Delta V needed to move around the solar system"
    />
  </div>
</Layout>

<style></style>
