<!-- Collaborate Section -->
<section id="collaborate" class="text-center container mb-5">
    <div class="row py-5">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="d-flex justify-content-center">
                <h2 class="fw-light">Collaborate with Us</h2>
            </div>

            <p class="text-muted">
                Space Calcs is an open-source project, and we welcome contributions from the community!
            </p>
            <p class="text-muted">
                Whether you're a developer, designer, or space enthusiast, you can help us build better calculators and tools. 
                Contribute new features, fix bugs, improve documentation, or suggest new calculator ideas.
            </p>
            <p class="text-muted">Visit our GitHub repository to get started!</p>

            <div class="fs-2 d-flex align-items-center justify-content-center">
                <a
                    href="https://github.com/jboullion/space-calcs-astro"
                    target="_blank"
                    class="text-decoration-none mx-3"
                    aria-label="GitHub Repository"
                >
                    <i class="fa-brands fa-github fa-fw text-white"></i>
                </a>
                <a
                    href="https://www.discord.gg/W66AhPA4y7"
                    target="_blank"
                    class="text-discord mx-3"
                    aria-label="Discord Community"
                >
                    <i class="fa-brands fa-fw fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
</section>