---
const year = new Date().getFullYear();
---

<!-- <script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8746310540664199"
  crossorigin="anonymous"
></script>
<ins
  class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-8746310540664199"
  data-ad-slot="4841307025"
  data-ad-format="auto"
  data-full-width-responsive="true"></ins>
<script is:inline>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
<footer class="py-5 px-3 bg-dark text-secondary">
    <div class="d-flex justify-content-between">
        <div>
            <p class="text-center mb-1">
                Comments or Questions? <a
                    href="mailto:jboullion83@gmail.com"
                    class="text-decoration-none mx-3 text-white"
                >
                    <i class="fa-solid fa-envelope"></i>
                </a>

                <a
                    href="https://discord.com/channels/731855215816343592/1136378946158612550"
                    target="_blank"
                    class="text-discord"
                >
                    <i class="fa-brands fa-discord"></i>
                </a>
            </p>
        </div>

        <p class="text-center mb-0">
            &copy;{year}
            <a
                href="https://github.com/jboullion"
                target="_blank"
                class="link-light">James Boullion</a
            > and
            <a href="http://nexusaurora.org/" target="_blank" class="link-light"
                >Nexus Aurora</a
            >
        </p>
    </div>
</footer>

<style>
    p {
        font-size: 14px;
    }
</style>
