---
const year = new Date().getFullYear();
---

<footer class="py-5 bg-dark text-white">
  <p class="text-center mb-0">
    &copy;{year}
    <a href="https://github.com/jboullion" target="_blank" class="link-light"
      >James Boullion</a
    > and
    <a href="http://nexusaurora.org/" target="_blank" class="link-light"
      >Nexus Aurora</a
    >
  </p>
</footer>
