---
import SupabaseLogin from '../vue/auth/SupabaseLogin.vue';
// import DarkMode from '../vue/shared/DarkMode.vue';
// import Logo from './Logo.astro';
---

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container justify-content-between">
            <a
                href="/"
                class="navbar-brand d-flex align-items-center text-white gap-4 p-0"
            >
                <img
                    id="logo"
                    src="/name-logo.svg"
                    alt="Space Calcs"
                    height="32px"
                />
            </a>

            <div class="d-flex">
                <!-- <DarkMode client:load /> -->
                <a href="/tools" class="btn btn-dark fs-4"
				><i class="fa-solid fa-toolbox"></i></a>
                <!-- <SupabaseLogin client:load /> -->
            </div>
        </div>
    </div>
</header>
