---
import SupabaseLogin from '../auth/SupabaseLogin.vue';
import DarkMode from '../vue/shared/DarkMode.vue';
import Logo from './Logo.astro';

// TODO: Do we want to set up a bootswatch theme switcher?
// TODO: https://stackoverflow.com/questions/19192747/how-to-dynamically-change-themes-after-clicking-a-drop-down-menu-of-themes
---

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container justify-content-between">
            <a
                href="/"
                class="navbar-brand d-flex align-items-center text-white gap-4 p-0"
            >
                <img
                    id="logo"
                    src="/name-logo.svg"
                    alt="Space Calcs"
                    height="32px"
                />
            </a>

            <div class="d-flex">
                <DarkMode client:load />

                <SupabaseLogin client:load />
            </div>
        </div>
    </div>
</header>
<style>
    .navbar-brand {
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
</style>
