<section id="sponsor" class="text-center container mb-5">
    <div class="row py-5">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="d-flex justify-content-center">
                <h2 class="fw-light">Sponsor a Calculator</h2>
            </div>

            <p class="text-muted">
                Are you a representative of a university, company or other
                organiztion?
            </p>
            <p class="text-muted">
                Work with SpaceCalcs.com to build a bespoke tool! You can host
                the calculator on SpaceCalcs.com along with your logo, link and
                description.
            </p>
            <p class="text-muted">Contact us for more information!</p>

            <div class="fs-2">
                <a
                    href="mailto:jboullion@nexusaurora.org"
                    class="text-decoration-none me-4"
                >
                    <i class="fa-solid fa-envelope"></i>
                </a>
                <a
                    href="https://www.linkedin.com/company/nexusaurora/"
                    target="_blank"
                    class="text-linkedin me-4"
                >
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a
                    href="https://discord.com/channels/731855215816343592/1136378946158612550"
                    target="_blank"
                    class="text-discord"
                >
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
</section>
