---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Space Calcs"
  description="Various calculators to help you plan a space mission."
>
  <div></div>
</Layout>

<style></style>
