---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contact | Space Calcs"
  description="Contact us with a question, bug fix, or calculator request."
>
  <div></div>
</Layout>

<style></style>
