---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import CardList from "../components/home/CardList.astro";
---

<Layout title="Welcome to Astro.">
  <div>
    <Hero />

    <CardList />
  </div>
</Layout>

<style></style>
