---
import Layout from "../layouts/Layout.astro";
import Home from "../components/vue/home/Home.vue";
---

<Layout
  title="Space Calcs"
  description="Various calculators to help you plan a space mission."
>
  <div class="container py-4">
    <iframe
      src="https://nbviewer.org/github/jvns/pandas-cookbook/blob/master/cookbook/Chapter%202%20-%20Selecting%20data%20&%20finding%20the%20most%20common%20complaint%20type.ipynb"
      width="100%"
      height="1000px"
    >
    </iframe>
  </div>
</Layout>

<style></style>
