---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy | Space Calcs" description="Privacy Policy">
  <div class="container pt-5">
    <h1>Privacy Policy</h1>

    <p>
      We use Google Analytics and Google Adsense to collect data about your
      visit. Beyond that we do not collect any information.
    </p>

    <h2 class="mt-5">Google Analytics</h2>
    <p>
      Read more about the Google Analytics use of your data at <a
        href="https://policies.google.com/technologies/partner-sites"
        target="_blank">Google's Privacy &amp; Terms</a
      >.
    </p>

    <h2 class="mt-5">Google Adsense</h2>
    <p>
      Read more about <a
        href="https://support.google.com/adsense/answer/1348695?hl=en"
        target="_blank">Google Adsense Privacy and Security</a
      >
    </p>
  </div>
</Layout>