---
import type { SpaceTool } from "../../types/tools";
import Card from "../Card.astro";

const tools: SpaceTool[] = [
  {
    name: "Delta V",
    description: "A tool for calculating the delta v required for a mission",
    category: "Mission Planning",
    image: "https://i.imgur.com/4ZQZQ2M.png",
    link: "/calcs/delta-v",
  },
];
---

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {
        tools.map((tool) => (
          <div class="col">
            <Card tool={tool} />
          </div>
        ))
      }
    </div>
  </div>
</div>
