<section id="sponsorCalc" class="">
    <div class="row py-5">
        <h3 class="fw-light text-center mb-4">Sponsor</h3>
        <div class="col-lg-8 col-xl-6 m-auto">
            <div class="p-3 rounded border">
                <slot />
            </div>
        </div>
    </div>
</section>