<section id="sponsorCalc" class="container mb-5">
    <div class="row py-5">
        <h3 class="fw-light text-center mb-4">Sponsor</h3>
        <div class="offset-lg-3 col-lg-6 m-auto">
            <div class="p-3 rounded border">
                
                <a href="https://samross.space/" target="_blank" class="d-flex justify-content-center align-items-center mb-4">
                    <img src="/images/sponsors/sam-ross.png" alt="" class="rounded-circle me-3" width="50"/>
                    <h4>Sam Ross</h4>
                </a>

                <p>Sam has a masters degree in Aerospace and Aerothermal Engineering from the University of Cambridge.</p>
                <p>Sam was one of the principal authors of the <a href="https://nexusaurora.org/wp-content/uploads/2021/08/report.pdf" target="_blank">Nexus Aurora report on a Martian City State</a> presented at the 2020 Mars Convention.</p>
                <p>He also serves as the R&D Engineering Lead of the Mars Society UK group.</p>
            </div>
        </div>
    </div>
</section>
