---
import type { SpaceTool } from "../types/tools";

export interface Props {
  tool: SpaceTool;
}

const { tool } = Astro.props;
---

<div class="card shadow-sm">
  <a href={tool.link} class="card-body">
    <h5 class="card-title">{tool.name}</h5>
    <p class="card-text">{tool.description}</p>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-muted">{tool.category}</small>
    </div>
  </a>
</div>
<style>
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
