* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.app {
	width: 100%;
	height: 100%;
	position: relative;
}

canvas {
	width: 100%;
	height: 100%;
	background: #000;
	cursor: crosshair;
}

/* Hide cursor when in pointer lock */
:root:has(body:active) canvas {
	cursor: none;
}

/* Add to index.css */
:fullscreen .app {
	height: 100vh;
}

:-webkit-full-screen .app {
	height: 100vh;
}

:-moz-full-screen .app {
	height: 100vh;
}
